
html,body{
  overflow-x:hidden;
  margin:0;
  padding:0;
}

.navi-item{
  text-decoration:none;
  color:white;
  margin:1rem;
}

.navi-item:hover{
  text-decoration: none;
  color:white;
  opacity:0.7;
  transition: all 0.3s ease-in-out;
}

/* HOME */

.banner-layout {
  margin:auto;
  display:flex;
  flex-direction:row;
  background-color: rgb(78, 78, 78);
  width:100%;
}

.banner-info{
  margin:15rem 15rem 15rem 10rem;
  max-width:700px;
  min-width:250px;
  color:white;
  width: 50%;
}

.banner-info-heading{
  color:rgb(224, 198, 125);
  font-size: 4rem;
  max-width:300px;
  min-width:200;
}

.banner-image {
  width:50%;
}

.caption{
  border-style: solid;
  border-width: 5px;
 top:50%;
}

.bannerHeader{
  color: white;
  font-size: 40pt;
  font-family: Sriracha;
}

.bannerSpecials{
  left:23%;
  font-size: 25pt;
 font-family: DIN;
}

.bannerContact{
  left: 33%;
  font-size: 25pt;
 font-family: DIN;
}

/* HOURS */

.hours-layout{
  display: flex;
  flex-direction:row-reverse;
  justify-content: space-between;
  background-color:white;
  width:100%;

}

.hours-info{
  color:white;
  margin:15rem 10rem 15rem 15rem;
}

.hours-info-heading{
  color:rgb(224, 198, 125);
}


.hours-format{
  display:flex;
  min-width:250px;
  color:black;
}

.hours-image{
  width:50%;
}

/* WHO WE ARE*/
.who-layout{
  display:flex;
  flex-direction:row;
}

.who-image{
  width:50%;
}

.who-info{
  margin:15rem 15rem 15rem 10rem;
  max-width:700px;
  min-width:250px;
}

.who-info-heading{
  color:rgb(224, 198, 125);
  font-size:2rem;
}

/*SERVICES*/
.services {
  background-image: url("/assets/salon-2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2000px;
  height:140vh;
  overflow-x: hidden;
  overflow-y: hidden;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position:relative;
  
}

.services-margin{
  margin-top:8rem;
}

.services-wrapper{
position:absolute;
top:0;
left:10%;
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0, 0.4);
width:80%;
overflow-x:hidden;
}

.service-names{
  color:white;
  list-style-type: none;
  width:175px;
}

.service-header{
  color:rgb(224, 198, 125);
  width:115px;
  padding-bottom:15px;
}


.servicePictures {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.picture {
  text-align: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: white 0px 0px 10px;
}

.outerPicture {
  margin: auto;
  padding: 20px;
}
.hair{
  padding:0px;
}

.facial{
  padding: 0px;
}


/* ABOUT*/

.about {
  background-color: rgb(32, 30, 30);
  height: 400px;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*CONTACT*/

.contacts {
  display:flex;
  flex-direction:row;
  justify-content: space-evenly;
  background-color: rgb(78, 78, 78);
  height: auto;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.textArea{
  width:400px;
  height:250px;
}

input{
  width:100%;
}

.contact-details{
  margin-top:4rem;
  text-align:center;
  color:white;
}

form{
  margin-top:4rem;
}

button{
  background-color:white;
  border:none;
  width:100%;
}

button:hover{
  background-color: rgb(107, 106, 106);
  color:white;
  transition: all 0.2s ease-in-out;
}

label{
  color:white;
}

.mid-banner{
  width:100%;
  height:auto;
}

/* FOOTER*/

.footer {
  background-color:  rgb(32, 30, 30);
  height:40vh;
  overflow-x: hidden;
  overflow-y: hidden;

}

.footer-info{
  margin-top:3rem;
  text-align:center;
}

.footerFont{
  font-size:16pt;
  text-align: right;
}

.footerLogo{
  text-align:center;
}

.copywright{
  height: 50px;
  background-color:  rgb(32, 30, 30);
}
.subscribe-form{
  margin-top:5rem;
}
.subscribe, email{
  width:500px;
  background-color:  rgb(32, 30, 30);
  border:0;
  border-bottom: 1px solid white;
  color:white;
}

.subscribe, placeholder{
  padding-left: 5px;
}
.subscribe:hover{
  border: 1px solid white;
  transition: all 0.2s ease-in-out;

}

.submit-button{
  width:500px;
  margin-top:10px;
}

/* MISCELLANEOUS*/
h1 {
  color:rgb(224, 198, 125);
  text-align: center;
  padding: 10px;
}

h2{
  color:white;
  text-align: center;
}

h3 {
  padding-top:1rem;
  color:white;
  text-align: center;
}

h4{
  font-family: DIN;
  padding-left: 35px;
  
}


li{
  font-family: DIN;
}

p{
  font-family: DIN;
  font-size: 16pt;
}

th{
  font-family: DIN;
}


.studiologo {
  margin: auto;
  width: 150px;
  height: 65px;
}

.navLinks {
  font-size: 12pt;
  padding: 0px 45px 0px 0px;
}

.underline {
  width: 425px;
}

.upToDate {
  text-align: center;
}


.image{
  -webkit-filter: grayscale(1);
  height:125px;
  width:125px;
}

.image:hover{
 -webkit-filter: grayscale(0);
 -webkit-transition: ease-in-out;
}


/*FONTS*/

@font-face{
  src: url(fonts/DINPro-Black.ttf);
  font-family: DIN;
}

@font-face{
  src: url(fonts/DINPro-Bold.ttf);
  font-family: DIN-BOLD;
}


/*MEDIA QUERIES*/

@media only screen and (max-width:1120px){
  .banner-info{
    padding-right:4rem;
  }

  .who-info{
    padding-right:4rem;
  }
}

@media only screen and (max-width:1050px){
  .services{
    height:170vh;
    background-size: 2370px;
  }
}

@media only screen and (max-width:950px){
.banner-layout{
flex-wrap:wrap;
}
.hours-layout{
flex-wrap:wrap;
}
.who-layout{
flex-wrap:wrap;
}

.banner-image{
  width:100%;
}
.hours-image{
  width:100%;
}
.who-image{
  width:100%;
}
.hours-info{
  margin:15rem 20rem 15rem 13rem;
  max-width:700px;
  min-width:100px;
}
}

@media only screen and (max-width:800px){
  .services{
    height:205vh;
    background-size: 2450px;
  }
  }

@media only screen and (max-width:763px){
  .contacts{
    flex-wrap:wrap;
  }
  }

  @media only screen and (max-width:530px){
    .hours-info{
      padding-left:5rem;
      max-width:700px;
      min-width:100px;
    }
    .hours-info-heading{
      min-width:200px;
    }
    .services{
      height:350vh;
      background-size: 4200px;
    }
    }

